
body {
	margin: 0px;
	font-family: Helvetica;
	background-color: #EBEBEB;
}
#background {
	position: relative;
	width: 100%;
	height: 100vh;
	
	overflow: hidden;
}

#background.active {
	overflow: visible;
}

#search-bar {
	position: relative;
	top: 20%;
	z-index: 0;
	overflow: hidden;
	padding: 10px;
	padding-bottom: 100px;
	text-align: center;
}

#search-form {
	width: 30%;
	margin: auto;
	overflow: hidden;
	box-shadow: rgba(0,0,0,0.4) 0px 0px 5px;
	background-color: #ffffff;
}

#search-input {
	border: none;
	display: inline-block;
	width: 40px;
	height: 100%;
	font-size: 16px;
	background-color: #004563;
	color: #ffffff;
	vertical-align: middle;
	padding: 0px;
	padding-left: 10px;
	min-width: 40px;
}

#search-input.grow {
	width: 200px;
}

.hidden {
	display: none !important;
}

.arrow-right {
	width: 0; 
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
  	display:table-cell;
	border-left: 20px solid;
}

.arrow-left {
	height: 0px;
	width: 20px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
  	display:table-cell;
	border-right: 20px solid;
}


#search-icon {	
	padding-left: 10px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-color: #004563;
}

#search-icon.hidden {
	
}





.inline-table {
	display: table;
	width: 100%;
	height: 40px;
}

.inline-row {
	display: table-row;
}


.inline-cell {
	display: table-cell;
	vertical-align: middle;
	
}

#input-cell {

	width: 1px;
}

.arrow-cell {
	width: 40px;
	color: #E0E0E0;
}

.arrow-cell.active {
	color: #ffd428;
}

.arrow-cell.blue {
	color: #004563;
}

.marker-cell {
	background-color: #E0E0E0;
	width: 40px;
}

.marker-cell.active {
	background-color: #ffd428;
}

#autofill-cell {
	text-align: left;
}


#logo {
	margin: 20px;
}

#search-bar.deco {
	left: 40px !important;
}

#search-bar.active {
	top: 0px !important;
	left: 0px !important;
	transform: translate(0, 0) !important;
	position: relative;
}








#pin-form {
	display: none;
	vertical-align: middle;
	height: 40px;
	overflow: hidden;
}

#pin-form.active {
	display: inline-block;
}




#pin-input {
	margin-left: 10px;
	border: none;
	width: 100%;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0);
	vertical-align: middle;
	padding: 0px;
	color: #ffffff;
	min-width: 40px;
}

.line-container {
    display:table;
	height: 50px;
	text-align: left;
    width:100%;
	border-collapse: separate;
}




.line-container-icon {
	width: 50px;
	display:table-cell;
    height:50px;
}

.line-container-title {

	display:table-cell;
    height:50px;
	padding-left: 10px;
}

.line-container-title.hide {
	display: none;
}


.line-container-fill {
vertical-align: middle;
	overflow: hidden;
	display:table-cell;
    height:50px;
}

#autocomplete {
	display: inline-block;
	height: 100%;
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	font-size: 16px;
	color: #C0C0C0;
	vertical-align: middle;
	height: 40px;
	overflow: hidden;
	text-align: left;
	
}


#autocomplete li {
	display: inline-block;
	padding: 0px 30px;
	line-height: 40px;
	vertical-align: middle;
}

#autocomplete li:first-child{
	color: #004563;
}



#search-input:focus {
    outline: none;
}

#pin-autocomplete {
	display: inline-block;
	height: 100%;
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	font-size: 16px;
	color: #26A69A;
	vertical-align: middle;
	height: 40px;
	overflow: hidden;
}


#pin-autocomplete li {
	display: inline-block;
	padding: 0px 30px;
	line-height: 40px;
	vertical-align: middle;
}

#pin-autocomplete li:first-child{
	color: #004563;
}

#pin-autocomplete li:nth-child(2) {
	color: #4DB6AC;
}



#pin-bar {
	cursor: pointer;
	position: relative;
	z-index: 1;
	width: 100%;
	margin-top: 10px;
	box-shadow: rgba(0,0,0,0.4) 0px 0px 5px;
	text-align: left;
	overflow: hidden;
}

#pin-bar.active {
	top: 0;
	margin-top: 10px;
}

#pin-title {
	margin-left: 10px;
	
	vertical-align: middle;
	font-size: 16px;
}



#pin-content {
	position: relative;
	min-height: 40px;
}

#pin-marker {
	position: absolute;
	background-color: #009688;
	color: #ffffff;
	height: 40px;
	width: 100%;
	pointer-events:none;
}

#pin-marker.init {
	padding-left: 25px;
	left: 0px;
}

#pin-marker.active {
	transition: none;
}



#pin-form {
	display: none;
	vertical-align: middle;
	height: 40px;
	overflow: hidden;
}

#pin-form.active {
	display: inline-block;
}



#pin-input:focus {
    outline: none;
}



#results {
	text-align: left;
	width: 100%;
	margin-top: 10px;
}




#content {
	width: 100%;
}

.pin-item {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	cursor: pointer;
	
	border-bottom: #D0D0D0 solid 1px;
	
}

.pin-item:last-child {
	border: none;
}


#pin-list {
	background-color: #ffffff;
	color: #C0C0C0;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.result-item {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	padding-left: 20px;
	cursor: pointer;
	list-style-type: none;
	border-bottom: #E0E0E0 solid 1px;
	
}

#result-list {
	color: #444444;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-start: 0px;
}

#filter-bar {
	text-align: left;
	cursor: pointer;
	position: relative;
	z-index: 1;
	margin-top: 10px;
	width: 100%;
	background-color: #ffffff;
	color: #C0C0C0;
	box-shadow: rgba(0,0,0,0.4) 0px 0px 5px;
}

#filter-header {
	padding: 5px 10px; 
	font-size: 14px;
	font-weight: bold;
	color: #8a7523;
	background-color: #ffd428;
}

#filter-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.filter-item {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	padding-left: 20px;
	cursor: pointer;
	list-style-type: none;
	border-bottom: #E0E0E0 solid 1px;
	
}

.filter-item:last-child {
	border: none;
}

.top-bar {
	background-color: #ebebeb;
	padding: 10px;
}

.logo {
	display: inline-block;
	height: 34px;
	padding: 5px 10px;
	font-size: 20px;
}


.search-options-icon {
	vertical-align: top;
	height: 34px;
	line-height: 33px;
	display: inline-block; 
	margin-left: 10px;
}

.tool-bar {
	background-color: #ebebeb;
	
	padding: 5px 20px;
}

.tool-bar-constant {
	width: 400px; 
	margin-bottom: 5px;
}



.list-item {
	display:table;
	height: 40px;
}


.list-item-class {
}




.list-item-element {
    display: table-cell;
	margin-right: 10px;
    vertical-align: middle;
}

.list-group-item-checked {
	background: #81C784;
	color: #1B5E20;
}


.list-group-item-unchecked {
	background: #C8E6C9;
	color: #388E3C;
}

.children{
	background: #ffdb4c;
	height: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.list-icon {
	margin-left: 20px;
	margin-right: 20px;
}



.list-header {
	padding: 5px 20px;
	background-color: #ebebeb;
}

.list-header label {
	margin-bottom: 0px;
}